.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-form {
  width: 500px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-direction: column !important;
}

.grow {
  width: 100%;
}


